$color_bg: #f7f7f7;
$color-bg-features: #f2f2f2;
$color-turquise: #39bebf;
$color-black: #131313;
$color-granit: #333;
$color-dark-grey: #4f4f4f;
$color-light-grey: #7c7c7c;
$color-light-green: #eefafa;
$color-green: #0c797a;
$inact-color-lagon: #cfeff0;
$inact-color-light-grey: #d0d0d0;
$border-play-color: #f3f4f5;
$color-border-question: #828282;
$color-form-placeholder: #bdbdbd;
$color-form-invalid: #eb5757;
$color-facebook: #4267b2;
$color-twitter: #64a8f2;
$color-instagram: #f54290;
